#loginBtn {
    background: #6c4cff;
    color: white;
    width: 90%;
    padding: 16px;
    margin: 12px auto;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

#payBtn {
    background: #00c896;
    color: white;
    width: 90%;
    padding: 16px;
    margin: 12px auto;
    border-radius: 12px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
